li
{
 font-size :1.5em;
 list-style-type: none;
 
}
table
{
    margin-left:auto;
    margin-right:auto;
}

.imgOfMe 
{
    border-radius: 100%;
}
body
{
    text-align: center;
    background-image: linear-gradient(to bottom right, lightblue, darkblue); 
    
}
a
{
    color: white;
}
h1
{
    color: yellow;
}